.app-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.app-bg__mask {
  position: absolute;
  inset: 0;

  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 0%,
    black 80%,
    transparent
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 0%,
    black 80%,
    transparent
  );
}

.app-bg__unicorn {
  position: absolute;
  inset: 0;
}
