@import url("./global.css");
@import url("./ui.css");
@import url("./effects.css");
@import url("./layout.css");
@import url("./form.css");
@import url("./schedule.css");
@import url("./loader.css");
